.*.swp
*.o
*.a
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
config.h
desaster/libsd-daemon.a
desaster/desaster
playground/iterate-network-interfaces
playground/if-list
playground/udp-broadcaster
playground/udp-receiver
playground/zmq1
